<mat-card>
  <h1>Create account</h1>
  <form class="example-form" [formGroup]="form">
      <div class="account" formGroupName="account">
      <h2>Account</h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input 
          type="email" 
          matInput 
          formControlName="email"
          placeholder="Ex. pat@example.com"
        >
        <mat-error *ngIf="form.get('account.email')?.hasError('email') && !form.get('account.email')?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.get('account.email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br />
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input 
          type="password" 
          matInput 
          
          formControlName="password"
        >
        <mat-error *ngIf="form.get('account.password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br />
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input 
          type="password" 
          matInput 
          formControlName="repeatPassword"
        >
        <mat-error *ngIf="form.get('account.repeatPassword')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('account.repeatPassword')?.hasError('PasswordsNotSame')">
        Password supposed to the <strong>same</strong>
      </mat-error>
      </mat-form-field>
    </div>
    <div class="profile" formGroupName="profile">
      <h2>Profile</h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input 
          type="text" 
          matInput    
          formControlName="name" 
          placeholder="Ivan">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input 
          type="text" 
          matInput    
          formControlName="phone" 
          type="text" prefix="8" mask=" (000) 000 0000">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>City</mat-label>
        <input 
          type="text" 
          matInput    
          formControlName="city">
      </mat-form-field>
      <br />
    </div> 
     <div class="company" formArrayName="company">
      <h2>Company</h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input 
          type="text" 
          matInput    
          formControlName="companyName">
          <mat-error  *ngIf="form.get('company.companyName')?.hasError('required')">
            Name is required
          </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="propertyType" >

          <mat-option value="corporation">Legal entity</mat-option>
          <mat-option value="individual">Individual entrepreneur </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>INN</mat-label>
        <input 
          type="text" 
          matInput    
          formControlName="inn" mask="000000000">
          <mat-error *ngIf="form.get('company.inn')?.hasError('minlength') && !form.get('company.inn')?.hasError('required')">
            Inn is too short
          </mat-error>
          <mat-error *ngIf="form.get('company.inn')?.hasError('maxlength') && !form.get('company.inn')?.hasError('required')">
            Inn is too long
          </mat-error>
          <mat-error *ngIf="form.get('company.inn')?.hasError('required')">
            Inn is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" *ngIf="form.get('company.propertyType')?.value !== 'individual'">
        <mat-label>KPP</mat-label>
        <input 
          type="text" 
          matInput    
          formControlName="kpp" mask="000000000">
          <mat-error *ngIf="form.get('company.kpp')?.hasError('minlength') && !form.get('company.kpp')?.hasError('required')">
            KPP is too short
          </mat-error>
          <mat-error *ngIf="form.get('company.kpp')?.hasError('maxlength') && !form.get('company.kpp')?.hasError('required')">
            KPP is too long
          </mat-error>
          <mat-error *ngIf="form.get('company.kpp')?.hasError('required')">
            KPP is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>OKPO</mat-label>
        <input 
          type="text" 
          matInput    
          formControlName="okpo" mask="00000000">
          <mat-error *ngIf="form.get('company.okpo')?.hasError('minlength') && !form.get('company.okpo')?.hasError('required')">
            OKPO is too short
          </mat-error>
          <mat-error *ngIf="form.get('company.okpo')?.hasError('maxlength') && !form.get('company.okpo')?.hasError('required')">
            OKPO is too long
          </mat-error>
          <mat-error *ngIf="form.get('company.okpo')?.hasError('required')">
            OKPO is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="date" formControlName="date" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker   #picker></mat-datepicker>
      </mat-form-field>
    </div>  
    <div class="contacts" formArrayName="contacts">
      <div class="contacts_wrapper">
        <h1>Contacts</h1>
        <div class="example-button-container">
          <button (click)="addContact()" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
      </div>
      <div *ngFor="let control of getContactsControls(); let i = index" [formGroupName]="i">
        <div class="contacts_item">
          <h2>Contacts {{i + 1}}</h2>
          <button (click)="removeContact(i)" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>remove</mat-icon>
        </button>
        </div>
        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>Name</mat-label>
          <input 
            type="text" 
            matInput    
            formControlName="firstname" 
          >
            <mat-error *ngIf="control.get('firstname')?.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Position</mat-label>
          <input 
            type="text" 
            matInput    
            formControlName="position">
            <mat-error *ngIf="control.get('position')?.hasError('required')">
              Position is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Phone</mat-label>
          <input 
            type="text" 
            matInput    
            formControlName="phone"  prefix="8" mask=" (000) 000 0000">
            <mat-error *ngIf="control.get('phone')?.hasError('required')">
              Phone number is <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
    </div>  
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="sendForm(form)">Register</button>
  </form>
</mat-card>
