mat-card {
  width: 400px;
  margin: auto;
}
mat-form-field {
  width: 100%;
}
.contacts_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contacts_item {
  display: flex;
  justify-content: space-between;
}